<h2 mat-dialog-title>Create Board</h2>
<mat-dialog-content>
  <form [formGroup]="boardForm">
    <mat-form-field appearance="fill">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="boardForm.get('title')?.hasError('required')">
        Please enter a title
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: flex-start">
  <button class="btnClose" (click)="close()">Close</button>
  <button class="btnCreate" [disabled]="boardForm.invalid" (click)="create()">
    Create
  </button>
</mat-dialog-actions>
